<?xml version="1.0"?>
<phpunit bootstrap="./vendor/autoload.php"
	beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true" beStrictAboutChangesToGlobalState="true"
	verbose="true">
	<testsuites>
		<testsuite name="dictionary-api">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<ini name="error_reporting" value="-1" />
		<ini name="post_max_size" value="8M" />
	</php>
</phpunit>
